@use '/src/app/styles/variables';



.module-content-wrapper {
	padding: .6rem 1rem;

	.module-content {
		display: flex;
		justify-content: space-between;

		@media (max-width: 350px) {
			display: block;
		}
	}

	.module-card-button-container {
		display: flex;
		gap: 1rem;

		@media (max-width: 350px) {
			margin-top: .4rem;
			justify-content: right;
		}
	}

	.module-card-caption {
		overflow: hidden;
		text-overflow: ellipsis;
	}
}