.input {
	border: 2px solid var(--background-color);
	background-color: var(--primary-color);
	outline: none;
	font-size: 1rem;

	border-radius: 5px;
	padding: 0.5rem 1rem;
	margin-bottom: 1rem;
	transition: border-color 0.2s linear;

	&:focus {
		border-color: var(--secondary-color);
	}

	&:disabled {
		cursor: not-allowed;
		opacity: .5;
	}

	&.error {
		border-color: var(--red-color);
	}
}