@use '/src/app/styles/variables';
@use '../../styles/card-settings' as *;

:root {
	--current-card-offset-x: 0;
	--current-card-rotation: 0;
	--card-sliding-direction: -1;
	--card-sliding-bg-color: black;
}

@keyframes slide-and-fade {
	0% {
		transform: translateX(calc(var(--current-card-offset-x) * 1px)) rotate(var(--current-card-rotation));
		opacity: 1;
	}

	100% {
		background-color: var(--card-sliding-bg-color);
		transform: translateX(calc(var(--current-card-offset-x) * 1px + 100px * var(--card-sliding-direction))) rotate(var(--current-card-rotation));
		opacity: 0;
	}

}

@keyframes getting-next-card {
	0% {
		transform: $second-card-template-transform;
	}

	100% {
		transform: none;
	}
}

.flashcard {
	--current-card-rotation: calc(.05 * var(--current-card-offset-x) * 1deg);
	transform: translateX(calc(var(--current-card-offset-x) * 1px)) rotate(var(--current-card-rotation));

	touch-action: none;
	position: relative;
	cursor: pointer;
	user-select: none;
	will-change: transform;
	transform-style: preserve-3d;
	-webkit-tap-highlight-color: transparent;
	@include card-size;

	&.swiping-left-animation {
		--card-sliding-direction: -1;
		animation: slide-and-fade .5s ease forwards;
	}

	&.swiping-right-animation {
		--card-sliding-direction: 1;
		animation: slide-and-fade .5s ease forwards;
	}

	&.next-card-animation {
		animation: getting-next-card .3s ease forwards;
	}

	&.getting-back {
		transition: transform .2s ease;
	}

	.flashcard-front,
	.flashcard-back {
		position: absolute;
		font-weight: bold;
		font-size: 1.5rem;
		padding: .5rem;
		width: 100%;
		height: 100%;
		backface-visibility: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		hyphens: auto;
		overflow-wrap: break-word;
		background-color: var(--primary-color);
		box-shadow: $card-shadow;
		border-radius: 1rem;
		box-sizing: border-box;
	}

	&.has-flip-animation .flashcard-front,
	&.has-flip-animation .flashcard-back {
		transition: transform .3s ease;
	}

	.flashcard-front {
		transform: rotateY(0deg);
	}

	.flashcard-back {
		transform: rotateY(180deg);
		border: 1px solid var(--green-color);
	}

	&.flipped .flashcard-front {
		transform: rotateY(-180deg);
	}

	&.flipped .flashcard-back {
		transform: rotateY(0deg);
	}
}