#start-button-container {
	display: flex;
	justify-content: flex-end;

	@media (max-width: 300px) {
		justify-content: center;
	}

	#start-button {
		width: 8rem;
		margin-top: 1.5rem;
	}
}

.form-top-margin {
	margin-top: 1rem;
}

#modes-radio-group {

	.modes-radio-element {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: .3rem;

		.radio-icon {
			// uses in consts/modes.jsx
			width: 1.3rem;
			height: 1.3rem;
		}
	}
}

@media (max-width: 400px) {
	#start-button-container {
		justify-content: center;
	}

	#modes-radio-group {
		flex-direction: column;
	}
}