@use '/src/app/styles/variables';

.navigation-buttons-container {
	display: grid;
	grid-template-columns: 1fr 4fr;
	gap: 5%;

	.close-button {
		grid-column: 1;
		grid-row: 1;
	}

	.add-button {
		grid-column: 2;
		grid-row: 1;
	}

	@media (max-width: variables.$mobile-size-limit) {
		grid-template-columns: 1fr 2fr;
	}

	@media (max-width: 400px) {
		grid-template-columns: 1fr 1fr;
	}

	@media (max-width: 330px) {
		grid-template-columns: 1fr 0;

		.add-button {
			grid-column: 1;
			grid-row: 2;
		}
	}
}

.input-pair-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;

	.input-pair-element {
		width: 47%;
		margin-bottom: 0;
		padding-left: .4rem;
		padding-right: .4rem;
	}
}