@use './WelcomeSection/WelcomeSection.scss';
@use './QuickActions/QuickActions.scss';
@use './RecentlyUsed/RecentlyUsed.scss';
@use './ModuleStats/ModuleStats.scss';

.home-page {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 3rem;
}
