@use '/src/app/styles/variables';
@use '../../styles/card-settings' as *;

.deck-container {
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 2rem;
	perspective: 1000px;
	transform-style: preserve-3d;
}

.card-template {
	@include card-size;
	box-shadow: $card-shadow;
	position: absolute;
	background-color: var(--primary-color);
	border-radius: 1rem;

}

.second-card {
	z-index: -1;

	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	word-break: break-all;
	font-weight: bold;
	font-size: 1.5rem;

	transform: $second-card-template-transform;
}

.third-card {
	z-index: -2;
	transform: $third-card-template-transform;
}

.swipe-hints-container {
	display: flex;
	justify-content: space-between;
	position: relative;
	top: 1rem;
	width: 100%;
	max-width: $card-max-width;

	.left-arrow,
	.right-arrow {
		width: 64px;
		height: 64px;
	}

	.left-arrow path {
		stroke: var(--red-color)
	}

	.right-arrow path {
		stroke: var(--green-color);
	}
}