@use '/src/app/styles/variables';

header {
	display: flex;
	width: 100%;
	height: 3.3rem;
	background-color: var(--primary-color);
	justify-content: center;
}

.header-content-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: #{variables.$max-content-width + 250};
	width: 90%;
}

#logo-container {
	display: flex;
}

#logo-container img {
	margin-right: 1rem
}