.delete-module-modal {
	max-width: 500px;
	padding: .3rem;

	.delete-modal-caption {
		text-align: center;
		margin: .7rem .4rem .2rem .4rem;
	}

	.delete-modal-button-container {
		display: flex;
		justify-content: space-between;
		margin: 0 5%;
	}
}